html,body{/*讓元素貼齊整個瀏覽器*/
	margin:0;
	padding:0;
}

table{
	width:100%;
	height:100%;
	border:1px solid #000000;
	margin:0;
	border-collapse:collapse;
}

td{
	border:1px solid #000000;
}

tr:first-child{
	height:70%;
}