body{
	background-image:url(../Image/AboutFanluBackground.jpg);
	background-size: cover;　/*設定背景圖片的填滿方式*/
	background-repeat: no-repeat;
	position:fixed;
	font-family: fantasy;
	font-style: italic;
}

.wrapper{
	width:1500px;
	background-color: transparent;
}

.popWindow{
	width:666px;
	height:488px;
	box-shadow:5px 5px 10px black;
	border:2px gray solid;
	border-radius:20px;
	position:fixed;
	background-color:#FFFFFF;
	display:none;
}

.popWindowDetail{
	width:620px;
	height:400px;
	border:2px gray solid;
	border-radius:10px;
	position:relative;
	top:20px;
	left:20px;
	word-wrap: break-word;
	overflow-y:scroll;
}

.popWindowDetail::-webkit-scrollbar {
    width: 12px;
	height:20px;
}

.popWindowDetail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    border-radius: 10px;
}

.popWindowDetail > p{
	font-size:24px;
	margin:0;
}

.popWindowH1{
	position:relative;
	top:10px;
	left:250px;
	display:inline;
}

.popWindowImg{
	height:40px;
	width:40px;
	display:inline;
	position:relative;
	top:15px;
	left:470px;
}

li{
	margin:10px;
	list-style: none;
	float: left;
	width: 10%;
	text-align: center;
	background-color: blue;
	color:white;
	border-radius: 30px;
}

li a{
	color:white;
	font-size: 24px;
	text-decoration: none;
}

li:hover{
	background-color:#00A600; 
}

.map {
	position: absolute;
	left: 800px;
	top: 50px;
	width: 30%;
	margin-right: 5%;
	float: right;
	text-align: center;
	border: 10px outset black;
	padding: 0px;
	overflow: hidden;
	/*overflow:hidden是為了隱藏在圖片放大時超出的部分*/
	transform: scale(1,1);
	/*transform可以設定圖片放大的倍率*/
	transition: all 0.5s ease-out;
	/*transition可以做出圖片緩慢放大的效果，
	為圖片放大所需的時間和特效*/
}

.map:hover{
	transform:scale(1.2,1.2);
}

.title{
	font-style: fantasy;
	font-size: 40px;
	text-align: center;
	position: absolute;
	top:120px;
	left:600px;
}

.bulletin_board{
	position: 	absolute;	
	top:120px;
	left:20px;
	width: 	35%;
}

.Dora{
	height:100px;
	position: 	absolute;	
	top:380px;
	left:500px;
}

.context{
	font-family: DFKai-sb;
	font-size: 25px;
	position: 	absolute;
	/*z-index:999;*/
	top:200px;
	left:120px;
	width:22%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 11;
	-webkit-box-orient: vertical;
	cursor:help;
}

@media (min-width:1500px) {
	.Dora {
		height: 100px;
		position: absolute;
		top: 380px;
		left: 560px;
	}

	body {
		background-image: url(../Image/AboutFanluBackground.jpg);
		background-size: cover;
		　
		/*設定背景圖片的填滿方式*/
		background-repeat: no-repeat;
		position: fixed;
		font-family: fantasy;
		font-style: italic;
	}

	.map {
		width: 30%;
		margin-right: 5%;
		float: right;
		text-align: center;
		border: 15px outset black;
		padding: 0px;
		overflow: hidden;
		/*overflow:hidden是為了隱藏在圖片放大時超出的部分*/
		transform: scale(1,1);
		/*transform可以設定圖片放大的倍率*/
		transition: all 0.5s ease-out;
		/*transition可以做出圖片緩慢放大的效果，
	為圖片放大所需的時間和特效*/
	}

	.bulletin_board {
		position: absolute;
		top: 120px;
		left: 20px;
		width: 35%;
	}
}

@media (min-width:1600px){
	.Dora {
		height: 100px;
		position: absolute;
		top: 500px;
		left: 620px;
	}
	body {
		background-image: url(../Image/AboutFanluBackground.jpg);
		background-size: cover;
		　 /*設定背景圖片的填滿方式*/
		background-repeat: no-repeat;
		position: fixed;
		font-family: fantasy;
		font-style: italic;
	}
	.map {
		position: absolute;
		left: 1200px;
		top: 50px;
		width: 30%;
		margin-right: 5%;
		float: right;
		text-align: center;
		border: 10px outset black;
		padding: 0px;
		overflow: hidden;
		/*overflow:hidden是為了隱藏在圖片放大時超出的部分*/
		transform: scale(1,1);
		/*transform可以設定圖片放大的倍率*/
		transition: all 0.5s ease-out;
		/*transition可以做出圖片緩慢放大的效果，
	為圖片放大所需的時間和特效*/
	}
	.bulletin_board{
	position: 	absolute;	
	top:120px;
	left:20px;
	width: 	45%;
}
	.title {
		font-style: fantasy;
		font-size: 80px;
		text-align: center;
		position: absolute;
		top: 120px;
		left: 700px;
	}
	.context {
		font-family: DFKai-sb;
		font-size: 25px;
		position: absolute;
		/*z-index: 999;*/
		top: 250px;
		left: 150px;
		width: 28%;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 15;
		-webkit-box-orient: vertical;
	}
}