body{
	margin:0;
	padding:0;
	
}

.role-image{
	position:absolute;
}

table{
	width:99%;
}
table, tr, td{
	margin:0px;
	padding:0px;
}


.adventure-div{
	/*margin 由 javascrip 來調*/
	height:500px;
	width:1000px;
	border:1px solid black;
}

nav{	/*導覽列*/
	background-color:#0082e6;
	height:60px; 
	width: 100%;
	position: fixed;
}

nav ul{
	float: right;
	margin-right: 20px;
	margin-top:0px;
}

nav ul li{
	display: inline-block;
	line-height: 60px;
	margin:0 5px;
}

nav ul li a{
	color: white;
	font-size: 25px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
}

a.active,a:hover{
	background: #1b9bff;
	transition: .5s; 
}

label.logo{
	color:white;
	line-height: 65px;
	padding: 0 100px;
	font-weight: bold;	
	font-style: fantasy;
	font-size: 40px;
	text-align: center;
}

.navigator-div{
	position:fixed;
	left:-140px;
	top:0px;
	height:100%;
	width:150px;
	border: 1px solid red;
	background-color:green;
	transition-property:transform;
	transition-duration:1s;
	transition-timing-function:linear;
}

.navigator-div:hover{
	transform:translate(140px);
}

.role-img{
	position:relative;
	width:75px;
	height:110px;
	margin:0;
	z-index:-1;
}

.layer-zero-td-background-class{
	background-image:url(../Image/adventure-background-0.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-zero-td-background-class > div{
	background-image:url(../Image/Map/mudBG.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-one-td-background-class{
	background-image:url(../Image/adventure-background-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-one-td-background-class > div{
	background-image:url(../Image/Map/waterBG.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-two-td-background-class{
	background-image:url(../Image/adventure-background-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-two-td-background-class > div{
	background-image:url(../Image/Map/grassBG.png);
	background-size: cover;
	background-repeat: no-repeat;
}