body{
	margin:0;
	padding:0;
	
}

.role-image{
	position:absolute;
}

table{
	width:99%;
}
table, tr, td{
	margin:0px;
	padding:0px;
}


.adventure-div{
	/*margin 由 javascrip 來調*/
	height:500px;
	width:1000px;
	border:1px solid black;
}

.navigator-div{
	position:fixed;
	left:-140px;
	top:0px;
	height:100%;
	width:150px;
	border: 1px solid red;
	background-color:green;
	transition-property:transform;
	transition-duration:1s;
	transition-timing-function:linear;
}

.navigator-div:hover{
	transform:translate(140px);
}

.role-img{
	position:relative;
	width:75px;
	height:110px;
	margin:0;
	z-index:-1;
}

.layer-zero-td-background-class{
	background-image:url(../Image/AboutFanluBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.layer-zero-td-background-class > div{
	background-image:url(../Image/Map/mudBG.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-one-td-background-class{
	background-image:url(../Image/AdventureBackground1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-one-td-background-class > div{
	background-image:url(../Image/Map/waterBG.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.layer-two-td-background-class{
	background-image:url(../Image/AdventureBackground2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}