* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background-image:url(../Image/IndexBackground.png);
}
.wrapper {
	width: 1150px;
	margin: auto;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 40px;
	margin-right: -20px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 30px 40px;
	font-family: fantasy;
	font-size: 25px;
	text-transform: uppercase;
}
    .nav-area li a:hover {
        background: #fff;
        color: #333;
    }
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 5px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 100px;
	margin: 15% 35%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: 	#FF8000;
}
.welcome-text a {
	border: 3px solid  #000000;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 40px;
	font-family: fantasy;
	margin-top: 20px;
	display: inline-block;
	color:#000000;
}
.welcome-text a:hover {
	background: #00000000;
	color: #333;
}

.welcome-text img{
	height:500px;
}
/*resposive*/

@media (max-width:800px) {
	.wrapper {
		width: 200%;
	}
	.logo {
		float: none;
		width: 100%;
		text-align: center;
		margin: auto;
	}
	.nav-area {
		float: none;
		margin-top: 0;
		margin-right: 350px;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 25px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
	.welcome-text img {
			height: 200px;
	}
	body {
		font-family: 'Poppins', sans-serif;
		background-image: url(../Image/IndexBackground.png);
		background-size: 30%;
	}
}
