* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1150px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(./background.png);
	height: 140vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 50px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 30px 40px;
	font-family: fantasy;
	font-size: 18px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 5px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 10% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
}
.welcome-text h1 span {
	color: 	#00EC00;
}
.welcome-text a {
	border: 1px solid #adadad;
	padding: 30px 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 40px;
	font-family: fantasy;
	margin-top: 20px;
	display: inline-block;
	color: #000;
}
.welcome-text a:hover {
	background: #00000000;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
